<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599614816893-h3kddct1krvpc930eq0id8vl6biju3u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599614816893-h3kddct1krvpc930eq0id8vl6biju3u8</string>
	<key>API_KEY</key>
	<string>AIzaSyC-ake8BHjWoRJJipfKLGW2ywpW5fn4le4</string>
	<key>GCM_SENDER_ID</key>
	<string>599614816893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreAuth</string>
	<key>PROJECT_ID</key>
	<string>firestoreauth-20473</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreauth-20473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599614816893:ios:92c2f3e7b83918320b2714</string>
</dict>
</plist>